extends layout

block content
  h1= title 

  p #[strong Bike: ] #{bike.bike}
  p #[strong Manufacturer: ] #{bike.manf}
  p #[strong Price: ] #{bike.price} 
  p #[strong Number in Stock: ]  #{bike.invCount}
  p #[strong Year: ] #{bike.year}
  p #[strong Frame: ] #{bike.frame}
  p #[strong Other Specs: ] 
  p #[strong Wheels: ] #{bike.wheels}
  p #[strong Crankset: ] #{bike.crankset}
  p #[strong Drivetrain: ] #{bike.drivetrain}
  p #[strong Brakes: ] #{bike.brakes}
  p #[strong Tires: ] #{bike.tires}

  p Are you sure you want to delete this bike? This will completely remove the bike from the inventory entirely regardless of inventory count. To adjust the inventory count, use the Update Bike feature on the bike's 
    a(href=bike.url) info page
    |. 
  
  form(method="POST" action="")
    div  
      input(type="hidden" name="bikeid" required="true" value=bike._id)

      button(type="submit") Delete
  