extends layout

block content
  h1 Bike Info: #{title}

  p #[strong Name: ] #{bike.bike}
  p #[strong Manufacturer: ] #{bike.manf}
  p #[strong Price: ] $#{bike.price}
  p #[strong Year: ] #{bike.year}
  p #[strong Bike Class: ] #{bike.class}
  p #[strong Frame Material: ] #{bike.frame}
  p #[strong Wheels: ] #{bike.wheels}
  p #[strong Crankset: ] #{bike.crankset}
  p #[strong Drivetrain: ] #{bike.drivetrain}
  p #[strong Brakes: ] #{bike.brakes}
  p #[strong Tires: ] #{bike.tires}
  p #[strong Number in Stock: ]  #{bike.invCount}
  p #[strong Services Available: ]
    ul
      each service in bike.services 
        li 
          a(href=service.url) #{service.service}

  hr
  p 
    a(href=bike.url+"/update") Update Bike Info
  p 
    a(href=bike.url+"/delete") Delete Bike
  
  
